@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body {
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
  font-family: Bai Jamjuree;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.hero-sec h1 {
  margin-top: 40px;
  font-size: 50px;
}

h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
}

h2 {
  font-size: 40px;
  text-align: center;
}

p {
  font-size: 18px;
  color: hsl(201, 11%, 66%);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.buttons button {
  border: none;
  height: 45px;
  border-radius: 35px;
  width: 170px;
  font-family: Bai Jamjuree;
  flex-wrap: wrap;
}

.buttons button:first-child {
  background-color: hsl(171, 66%, 44%);
  color: white;
  box-shadow: 0px 3px 0px 0px hsl(171deg 69% 35%);
}

.buttons button:first-child:active {
  opacity: 70%;
}

.buttons button:last-child {
  background-color: hsl(233, 100%, 69%);
  color: white;
  box-shadow: 0px 3px 0px 0px #5763c4;
}

.buttons button:last-child:active {
  opacity: 70%;
}

.second-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.second-sec h2 {
  margin-bottom: 25px;
}

.second-sec p {
  text-align: center;
  margin-top: 0px;
  width: 566px;
}

.imageandtext {
  display: flex;
  margin-top: 60px;
}

.imageandtext img {
  transform: translateX(-75px);
}

.imageandtext p {
  text-align: left;
}

.third-sec {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.third-sec h2 {
  margin-bottom: 15px;
}

.third-sec p {
  width: 722px;
  text-align: center;
  align-self: center;
  margin-top: 0px;
}

.fourth-sec {
  display: flex;
  flex-direction: column;
}

.fourth-sec h2 {
  margin-bottom: 15px;
}

.fourth-sec p {
  text-align: center;
  margin-top: 0px;
}

.iconandtext {
  display: flex;
  margin-top: 60px;
  gap: 20px;
  align-items: center;
}

.iconandtext div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconandtext-a p {
  width: 376px;
}

.iconandtext-b p {
  width: 398px;
}

.iconandtext-c p {
  width: 400px;
}

.fifth-cont {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}

.sixth-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.sixth-cont h2 {
  margin-bottom: 15px;
}

.sixth-cont p {
  width: 680px;
  text-align: center;
  margin-top: 0px;
}

footer {
  background-color: #f5f6f8;
  display: flex;
  align-items: center;
  gap: 200px;
  margin-top: 80px;
}

footer img {
  width: 60px;
  margin-left: 60px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  row-gap: 0px;
  column-gap: 57px;
  cursor: pointer;
}

.footer-links p {
  width: fit-content;
}

.footer-links p {
  color: #4d545b;
}

.footer-links p:active {
  color: hsl(171, 66%, 44%);
}

.socials {
  display: flex;
  gap: 15px;
  //margin-left: 150px;
}

.socials i {
  font-size: 20px;
  color: #4d545b;
  cursor: pointer;
}

.socials i:active {
  color: hsl(171, 66%, 44%);
}

@media (max-width: 375px) {
  body {
    background-image: url(images/bg-header-mobile.png);
  }
  main {
    align-items: center;
  }
  .hero-sec {
    flex-wrap: wrap;
  }
  h1,
  h2,
  h3,
  p {
    width: 220px;
  }
  .hero-sec h1 {
    font-size: 35px;
    text-align: center;
    font-size: 20px;
    text-align: center;
    width: 200px;
  }
  .hero-sec p{ 
    text-align: center;
    width: 200px;
    font-size: 15px;
  }
  .buttons {
    flex-direction: column;
    gap: 20px;
  }
  .second-sec p {
    width: 220px;
  }
  .imageandtext {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .imageandtext img {
    width: 200px;
    transform: translateX(0px);
  }
  .imageandtext p {
    width: 220px;
    text-align: center;
  }
  .third-sec img {
    width: 220px;
  }
  .third-sec p {
    width: 220px;
  }
  .iconandtext {
    flex-direction: column;
  }
  .iconandtext {
    text-align: center;
  }
  .iconandtext p {
    width: 200px;
  }
  .fifth-cont {
    flex-direction: column;
  }
  .fourth-sec h2 {
    font-size: 20px;
  }
  .sixth-cont h2 {
    font-size: 28px;

    width: 200px;
  }
  .sixth-cont p {
    width: 200px;
    font-size: 10px;
  }
  footer {
    flex-direction: column;
    gap: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  footer img {
    align-self: center;
    margin-left: 0px;
  }
  .footer-links {
    flex-direction: column;
    gap: 0px;
    align-items: center;
    text-align: center;
    width: 200px;
  }
  .buttons button{
    gap: 50px;
  }
}
